@import "tailwindcss";

/* Hide horizontal scrollbar properly */
.hide-scrollbar::-webkit-scrollbar {
  height: 6px;              /* reduce height */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;  /* invisible thumb */
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE / Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}
